<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.nauka.jarek.udemy_mg">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShoppingListActivity"
            android:label="@string/title_activity_shopping_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.nauka.jarek.udemy_mg.MainActivity" />
        </activity>
        <activity
            android:name=".DrawActivity"
            android:label="@string/title_activity_draw_layout" />
        <activity
            android:name=".DrawLayoutActivity"
            android:label="@string/title_activity_draw_layout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.nauka.jarek.udemy_mg.MainActivity" />
        </activity>
        <activity
            android:name=".ApiActivity"
            android:label="@string/title_activity_api_layout" />
        <activity
            android:name=".ApiActivityExample"
            android:label="@string/title_activity_api_example_layout" />
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_draw_layout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.nauka.jarek.udemy_mg.MainActivity" />
        </activity>
        <receiver android:name=".common.ConnectivityChange">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.nauka.jarek.udemy_mg.MainActivity" />
        </activity>
        <activity
            android:name=".LicenseActivity"
            android:label="@string/title_activity_license"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.nauka.jarek.udemy_mg.MainActivity" />
        </activity>
    </application>

</manifest>